<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <i class="iconfont  iconshujia1"></i>
      <ion-label>书架</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <i class="iconfont  iconshudan"></i>
      <ion-label>书城</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <i class="iconfont  iconshequ"></i>
      <ion-label>社区</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
        <i class="iconfont  iconshezhi"></i>
      <ion-label>设置</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
