<link rel="stylesheet" href="assets/fonts/iconfont.css">

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{book.name}}</ion-title>
    <ion-buttons slot="end">
        <ion-button href="/tabs/tab2">
          <i class="iconfont  iconliebiao"></i>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <table width="100%">
    <tr>
      <td rowspan="5" width="42%" >
        <div>
        <img src={{book.imageUrl}}><br>
        {{book.name}}
        </div>
      </td>
      <td width="58%">
        作者:{{book.auth}}
      </td>
    </tr>
    <tr><td>类别:{{book.type}}</td></tr>
    <tr><td>状态:{{book.status}}</td></tr>
    <tr><td>更新时间:{{book.updateDate}}</td></tr>
    <tr><td>评分:{{book.score}}</td></tr>
    <tr><td colspan="2">
      <div style="text-align: center;">
          <ion-button (click)="onClick()" color="primary">
            <!-- <ion-icon slot="start" name="glasses"></ion-icon> -->
            开始阅读
          </ion-button>
          <ion-button (click)="onClick()"  color="secondary">
              <!-- <ion-icon slot="end" name="add"></ion-icon> -->
              加入书架
            </ion-button>
          <ion-button (click)="onClick()" color="tertiary">
              <!-- <ion-icon slot="end" name="book"></ion-icon> -->
                我的书架
          </ion-button>
      </div>
    </td></tr>
    <tr><td colspan="2"><span>简介：{{book.description}}</span></td></tr>
    <tr><td colspan="2">
        <!-- List of Input Items -->
<ion-list>
    <ion-item>
      <ion-label>Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
    </td></tr>
  </table>
</ion-content>
